@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/FuturaPT-Book.ttf') format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/FuturaPT-Medium.ttf') format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/FuturaPT-Demi.ttf') format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Galdeano';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Galdeano-Regular.ttf') format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}